In [313]:
import os

In [314]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [315]:
for each_school in high_schools:
    print(each_school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [316]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [317]:
for each_record in high_school_types:
    print(each_record)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [318]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [319]:
# Add the Pandas dependency
import pandas as pd

In [320]:
# Create a Pandas Series from a list
school_series = pd.Series(high_schools)

In [321]:
# Retrieve the Series/index we just created
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [322]:
for each_high_school in school_series:
    print(each_high_school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [323]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [324]:
# Create a Pandas DataFrame for the list of dictionaries
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [325]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [326]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [327]:
# Add the list "School ID" to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["School Type"] = type_of_school

# Print the DataFrame.
schools_df

   School ID            School Name School Type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [328]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'School Name':school_name, 'School Type':type_of_school}

In [329]:
high_schools_dict_df = pd.DataFrame(high_schools_dict)

In [330]:
print(high_schools_dict_df)

   School ID            School Name School Type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [331]:
# Get the column names of a DataFrame
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [332]:
# Get the indices/indexes of a DataFrame
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [333]:
# Get the values of a DataFrame
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [334]:
# Three separate lists of information
SKLDRL_school_ID = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
SKLDRL_school_name = ['Huange High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School', 'Wilson High School', 'Cabrera High School', 'Bailey High School', 'Holden High School', 'Pena High School', 'Wright High School', 'Rodriguez High School', 'Johnson High School', 'Ford High School', 'Thomas High School']
SKLDRL_school_type = ['District', 'District', 'Charter', 'District', 'Charter', 'Charter', 'Charter', 'District', 'Charter', 'Charter', 'Charter', 'District', 'District', 'District', 'Charter']

In [335]:
# Initialize the Skill Drill DataFrame
SKLDRL_schools_df = pd.DataFrame()

In [336]:
# Add the lists to the DataFrame
SKLDRL_schools_df["SKLDRL School ID"] = SKLDRL_school_ID
SKLDRL_schools_df["SKLDRL School Name"] = SKLDRL_school_name
SKLDRL_schools_df["SKLDRL School Type"] = SKLDRL_school_type

In [337]:
print(SKLDRL_schools_df)

    SKLDRL School ID     SKLDRL School Name SKLDRL School Type
0                  0     Huange High School           District
1                  1   Figueroa High School           District
2                  2    Shelton High School            Charter
3                  3  Hernandez High School           District
4                  4    Griffin High School            Charter
5                  5     Wilson High School            Charter
6                  6    Cabrera High School            Charter
7                  7     Bailey High School           District
8                  8     Holden High School            Charter
9                  9       Pena High School            Charter
10                10     Wright High School            Charter
11                11  Rodriguez High School           District
12                12    Johnson High School           District
13                13       Ford High School           District
14                14     Thomas High School            Charter

In [ ]:
#. Remember, when inspecting the data, focus on the following questions:

#. How many columns and rows are there?
#. What types of data are present?
#. Is the data readable, or does it need to be converted in some way?